# HAMNA Desktop — Windows 10/11 · Python 3.13
# Instalar con: pip install -r requirements.txt

pyserial>=3.5
pygame>=2.6.0
pyttsx3>=2.90
pydub>=0.25.1
mutagen>=1.47.0
requests>=2.31.0
tkcalendar>=1.6.1

# Azure TTS — descomentar si se usa Azure
# azure-cognitiveservices-speech>=1.38.0
