{
  "tts_engine": "pyttsx3",
  "tts_rate": 175,
  "tts_volume": 90,
  "tts_pitch": 0,
  "tts_voice_id": "",

  "azure_key": "TU_CLAVE_AZURE_AQUI",
  "azure_region": "eastus",
  "azure_voice": "es-MX-DaliaNeural",
  "azure_style": "general",
  "azure_rate": 100,
  "azure_pitch": 0,
  "azure_format": "audio-24khz-160kbitrate-mono-mp3",
  "azure_cache": true,
  "azure_ssml": false,
  "azure_endpoint": "",

  "ptt_method": "api",
  "serial_enabled": false,
  "serial_port": "COM1",
  "serial_baud": 9600,
  "serial_pin": "RTS",
  "serial_invert_ptt": false,
  "serial_invert_cos": false,
  "ami_enabled": false,
  "ami_host": "127.0.0.1",
  "ami_port": 5038,
  "ami_user": "admin",
  "ami_password": "",
  "ami_channel": "SIP/radio",
  "ami_context": "ptt-control",
  "api_enabled": false,
  "api_url": "http://192.168.1.1",
  "api_ptt_on": "/ptt_on",
  "api_ptt_off": "/ptt_off",
  "api_method": "GET",
  "api_key": "",

  "audio_device": "",
  "audio_volume": 85,
  "theme": "dark",
  "language": "es",
  "start_minimized": false,
  "confirm_close": true,

  "pause_enabled": false,
  "pause_tx_time": 160,
  "pause_duration": 10,
  "pause_alert_before": 10,
  "pause_alert_file": "",
  "pause_announcement_file": "",
  "pause_resume_file": "",
  "ptt_on_delay": 0,
  "font_size": 12
}